.modalBackground
{
    background-color:Gray;    
    opacity : 0.7;
    filter : alpha(opacity=70);
    position:absolute; 
    top:0px; 
    left:0px; 
    visibility:hidden; 
    overflow:hidden;
    z-index:98
}

.popup
{   
    background-color:#B5C7DE;
    opacity : 1;
    filter : alpha(opacity=1000);
    overflow: auto;
    padding:5px;
}

.DialogMessage
{   
    background-color:#B5C7DE;
    opacity : 1;
    filter : alpha(opacity=1000);
    overflow: hidden;
    padding:5px;
    border:1px dashed #000000;
    position:absolute;
    visibility:hidden;
    width:500px; 
    height:200px;
    z-index : 99;
}