body
{
     background: #eaeaea url(<%=WebResource("Megabyte.Web.Controls.Images.bg-body.png")%>);
}

div.wrapper
{ 
    margin: 0 auto;
    padding: 0;
    height: auto;
    width: 960px;
}

#topbar
{
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  height: 36px;
  color: #ccc;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", HelveticaNeue, Arial, Helvetica, Geneva, sans-serif;
  overflow: hidden;
  border-bottom: 1px solid #000;
  background: #2d2d2d;
  position: fixed;
  top: 0;
  left: 0;
}

#topbar #titles {
  float: left;
  width: auto;
  line-height: 36px;
}

#topbar h1{ margin: 0; padding: 0 15px 0 0; float: left; line-height: 36px; font-size: 12px; color:#ccc; font-weight: bold; width: auto; }
#topbar h1 a{ color:#fff; text-decoration: none; }
#topbar ul#userNav{ margin: 0; padding: 0; width: auto; height: auto; line-height: 36px; position: relative; float: right; list-style-type: none; }
#topbar ul#userNav li { width: auto; float: left; margin: 0; }
#topbar ul#userNav li#username { padding: 0 0 0 20px; color: #999; }
#topbar ul#userNav li a{ margin: 0; padding: 0 0 0 20px; color: #ccc; width: auto; float: left; text-decoration: none; }
#topbar ul#userNav li a:hover{ color: #fff; }

#header
{
  margin: 36px 0 0 0;
  padding: 0;
  width: 100%;
  float: left;
  height: 49px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 -1px 0 #2e7c1f;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", HelveticaNeue, Arial, Helvetica, Geneva, sans-serif;
  overflow: hidden;
  background: #389425 url(<%=WebResource("Megabyte.Web.Controls.Images.bg-header.png")%>) repeat-x top left;
  border-top: solid 1px #68cc54;
  border-bottom: solid 1px #36742a;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
}

#side
{
    width: 240px;
    float: right;
    margin-left:10px;
}

#side .section
{
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 20px;
    background-color: #E2E2E2;
}

#side .infoBox
{
    background: #fbffcb;
}

#side .section 
{
    overflow: visible;
}

#side .infoBox .sectionHd
{
    background: none;
    padding-left: 0;
    border-bottom: none;
}

#side .infoBox .sectionHd h2
{
    padding-left: 0;
}

.contentNav
{
    background: #f0f0f0;
    margin: 10px 0;
}

.contentNav li{ margin:0; border:solid 1px #bbb; border-top:solid 1px #c9c9c9; border-bottom:none; list-style: none; font-size: 13px;}
.contentNav li a{ display:block; height:36px; line-height:36px; padding-left:10px; color: #217bbd; font-weight:normal; text-shadow:0 1px 0 #fff; border-top:solid 1px #f7f7f7;}
.contentNav li a:hover{ background: #f3f3f3; text-decoration: none;}

.contentNav li.active { background: #f3f3f3; border-left:solid 2px #217bbd; z-index: 100; }
.contentNav li.active a{ color: #333; font-weight:bold;}
.contentNav li:last-child,.contentNav li.lastChild{border-bottom:solid 1px #bbb}
.contentNav li:first-child,.contentNav li.firstChild{border-top:solid 1px #bbb}

#main
{
    padding-left: 260px;
}

.section
{
    margin: 0 0 20px 0;
    background-color: #f0f0f0;
    border: solid 1px #bbb;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #ddd;
    overflow: hidden;
}

.sectionHd {
    background: #e0e0e0 url(<%=WebResource("Megabyte.Web.Controls.Images.bg-section.png")%>) repeat-x;
    border-bottom: solid 1px #F1F1F1;
    height: 39px;
    border-radius: 3px 3px 0 0;
}

.sectionHd ul#sectionHdRight { margin: 0; padding: 6px 1px 0 ; width: auto; height: auto; position: relative; float: right; list-style-type: none; }
.sectionHd ul#sectionHdRight li { margin: 0; padding: 0 5px 0 0; width: auto; float: left; }

.sectionHd h2 {
    line-height: 39px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 0 1px 0 #E7E7E7;
    width: auto;
}

.sectionTable{ margin: 0 auto; padding: 0px; width: auto;  clear:both; background: #f0f0f0; }
.sectionTable .formTable{ margin: 0 auto; padding: 0; width: 500px; }
.sectionTable .formTr{ margin: 3px auto; padding: 0; width: auto; float: left; clear:both; }
.sectionTable .label{ margin:0; padding:0 15px 0 0; line-height: 30px; width: 140px; float: left; font-size: 12px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color: #333; font-weight: bold; text-align: right; }
.sectionTable .input{ width:195px; float:left; margin:0; padding:6px; border:1px solid #bbb; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff; border-radius: 2px; -moz-border-radius: 2px; box-shadow: 1px 1px 0 #fff; }
.sectionTable .input2col{ width:545px; float:left; margin:0; padding:6px; border:1px solid #bbb; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff; border-radius: 2px; -moz-border-radius: 2px; box-shadow: 1px 1px 0 #fff; }
.sectionTable .combobox{ width:195px; height:30px; float:left; margin:0; padding:6px; border:1px solid #bbb; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff; border-radius: 2px; -moz-border-radius: 2px; box-shadow: 1px 1px 0 #fff; }
.sectionTable .textarea{ width:195px; float:left; margin:0; padding:6px; border:1px solid #bbb; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff; border-radius: 2px; -moz-border-radius: 2px; box-shadow: 1px 1px 0 #fff; }
.sectionTable .checkbox{ float:left; line-height:30px; margin:0; padding:0; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; font-weight: normal; }
.sectionTable .input:focus, .textarea:focus, .select:focus { border:1px solid #999; }

#container
{ 
    margin: 106px auto 44px auto;
    padding: 0;
    width: 100%;
    height:auto;
}

div.form{ margin-bottom: 10px; padding: 10px; width: auto; float: left; clear:both; background: #f0f0f0; }
   
ul.form{ margin: 0 auto; padding: 0; float: left; clear: both; list-style-type: none; }
ul.form li{ margin: 0; padding: 10px 0; width:730px; float: left; clear: none; }
ul.form li#btn{ margin: 5px 0 0 215px; display:inline!important; width:auto; border: 0; }
ul.form li#cancel{ padding: 24px 0 0 15px; display:inline!important; width:auto; color: #888; border: 0; }
ul.form li#cancel a{ color: #d20000; }
ul.form .label{ margin:0; padding:0 15px 0 0; width: 200px; line-height: 30px; float: left; font-size: 12px; color: #333; font-weight: bold; text-align:right; }
ul.form .label span{ font-weight: normal; }
ul.form .input{ width:230px; float:left; margin:0; padding:6px; border:1px solid #bbb; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff; border-radius: 2px; -moz-border-radius: 2px; box-shadow: 1px 1px 0 #fff; }
ul.form .textarea{ width:230px; float:left; margin:0; padding:6px; border:1px solid #bbb; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff; border-radius: 2px; -moz-border-radius: 2px; box-shadow: 1px 1px 0 #fff; }
ul.form .checkbox{ float:left; line-height:30px; margin:0; padding:0; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; font-weight: normal; }
ul.form .input:focus, .textarea:focus, .select:focus { border:1px solid #999; }
/*ul.form .button
{
    margin: 0;
    padding: 0 20px;
    cursor: pointer;
    display:block;
    overflow:hidden;
    height: 35px;
    color: #333;
    font-size: 12px;
    font-family: "Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif;
    background: #d7d7d7 url("../Images/bg-button.png") repeat-x top left;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    text-decoration: none;
    font-weight: bold;
    text-shadow: #fff 0px 1px 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
}*/
     
ul.form .button:hover
{
    color: #000;
    border:1px solid #999;
}

#contentLogin
{
    margin: 170px auto 0 auto;
	padding: 0;
	width: 436px;
	overflow: hidden;
}

#titlesLogin {
      width: 436px;
      float: left; 
      margin: 0 auto 30px auto;
      padding: 0;
    }

    #titlesLogin img{ margin: 0 auto; padding: 0; width: 82px; height: 82px; display: block; }

div.formLogin{ margin: 0; padding: 40px 60px; width: auto; float: left; clear:both; border-radius: 6px; -moz-border-radius: 6px; background: #fff; border-bottom: solid 1px #bbb; }
    
ul.formLogin{ margin: 0; padding: 0; float: left; clear: both; list-style-type: none; }
ul.formLogin li{ margin: 0; padding: 5px 0; float: left; clear: none; }
ul.formLogin li#btn{ margin: 10px 0 0 0; display:inline!important; width:auto; border: 0; }
ul.formLogin li#cancel { padding: 23px 0 0 0; float: right; display:inline!important; color: #d20000; border: 0; font-weight: bold; }
ul.formLogin .label{ margin:0; padding:0; width: 70px; float: left; font-size: 12px; color: #333; font-weight: bold; }
ul.formLogin .label span{ font-weight: normal; }
ul.formLogin .input{ width:300px; float:left; margin:0; padding:6px; border:1px solid #d9d9d9; border-left:1px solid #a3a3a3; border-top:1px solid #a3a3a3; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff url(../Images/bg-field.png) repeat-x 0 0; border-radius: 2px; -moz-border-radius: 2px; }
ul.formLogin .checkbox{ float:left; line-height:30px; margin:0; padding:0; font-size: 13px; font-family:A"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; font-weight: normal; }
ul.formLogin .input:focus, .textarea:focus, .select:focus { background: #fefeee url(../Images/bg-field.png) repeat-x 0 0; }
ul.formLogin .button
{
    margin: 0;
    padding: 0 20px;
    cursor: pointer;
    display:block;
    overflow:hidden;
    height: 35px;
    color: #333;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: "Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif;
    background: #d7d7d7 url(<%=WebResource("Megabyte.Web.Controls.Images.bg-button.png")%>) repeat-x top left;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    text-decoration: none;
    font-weight: bold;
    text-shadow: #fff 0px 1px 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
}
     
ul.formLogin .button:hover
{
    color: #000;
    border:1px solid #999;
}

.tableForm { margin: 30px auto; padding: 0;  background: #f0f0f0; }

/*tableForm{ margin-bottom: 10px; padding: 10px; width: auto; float: left; clear:both; background: #E2E2E2; }*/

.tableForm tr{ margin: 6px auto; padding: 10px 0; float: left; clear: both; list-style-type: none; }
.tableForm td{ margin: 0 20px; padding: 0; width:244px; float: left; clear: none; }

.myCalendar {margin:0; padding:0;}

.tableForm .label{ margin: 0; font-size: 12px; color: #333; font-weight: bold; text-align:left; }
.tableForm .label span{ font-weight: normal; }
.tableForm .input{ width:230px; float:left; margin:0; padding:6px; border:1px solid #bbb; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff; border-radius: 2px; -moz-border-radius: 2px; box-shadow: 1px 1px 0 #fff; }
.tableForm .textarea{ width:230px; float:left; margin:0; padding:6px; border:1px solid #bbb; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff; border-radius: 2px; -moz-border-radius: 2px; box-shadow: 1px 1px 0 #fff; }
.tableForm .checkbox{ float:left; line-height:30px; margin:0; padding:0; font-size: 13px; font-family:"Helvetica Neue", "Helvetica-Neue", Arial, Helvetica, Geneva, sans-serif; font-weight: normal; }
.tableForm .input:focus, .textarea:focus, .select:focus { border:1px solid #999; }

.cellField{ margin: 0; padding: 0; background: none; width:100%; float: left; clear: none; }

.fieldError
{ 
    float: left;
    margin: 0 0 0 5px;
    padding: 4px 8px;
    width: auto;
    display: inline;
    font-size: 11px;
    color: #9c0006;
    border-radius: 2px;
    -moz-border-radius: 2px;
    border: solid 1px #ffc7ce;
    background: #ffc7ce;
    position: absolute;
}

.fieldErrorCom
{ 
    margin: 0 0 0 60px;
}

.mandatory
{
	margin: 0;
	padding: 0 5px 0 0;
	color: Red;
}

.help
{
	position: relative;
	cursor: default;
	font-style: normal;
}

.help span {
	display: none;
}

.help:before {
	content: "(?)";
	color: #999;
}
.help:hover span {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #fff;
	text-align: left;
	width: 200px;
	display: block;
	line-height: 1.2em;
	font-weight: normal;
	padding: 10px;
	background:#191919;
	background:rgba(0,0,0,.85);
	z-index: 1;
	border-radius: 4px;
    -moz-border-radius: 4px;
}

#loader {
	position: fixed;
	padding: 10px;
	top: 7px;
	right: 10px;
	color: #fff;
	display: block;
	font-weight: normal;
	background:rgba(0,0,0,.85) url(../Images/loader.gif) no-repeat 6px 4px;
	z-index: 1;
	border-radius: 4px;
    -moz-border-radius: 4px;
}
#loader span{
	padding: 0 0 0 30px;
}

#top-link {
	display: none;
	position: fixed;
	bottom: 48px;
	right: 10px;
	width: 40px;
	padding: 12px 10px 10px;
	border-radius: 4px;
    -moz-border-radius: 4px;
	background: rgba(0,0,0,0.8);
	text-decoration: none;
}

#top-link span {
	display: block;
	min-height: 13px;
	padding-left: 15px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 0px 1px 1px #000000;
	background: url(<%=WebResource("Megabyte.Web.Controls.Images.top-arrow.png")%>) no-repeat 0 3px;
}

#footer
{
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  float: left;
  height: 36px;
  font-size: 11px;
  overflow: hidden;
  border-top: 1px solid #bbb;
  color: #585858;
  background: #eee url(<%=WebResource("Megabyte.Web.Controls.Images.bg-footer.png")%>) repeat-x top left;
}


#footer ul#footerNav{ margin: 0; padding: 5px 0 10px 0; width: auto; height: auto; position: relative; float: left; list-style-type: none; }
#footer ul#footerNav li { width: auto; float: left; margin: 0; padding: 0 5px 0 0; }

#footer ul#footerRightNav{ margin: 0; padding: 0 0 0 15px; width: auto; height: auto; line-height: 36px; position: relative; float: right; list-style-type: none; }
#footer ul#footerRightNav li { width: auto; float: left; margin: 0; padding: 0 0 0 15px; }
#footer ul#footerRightNav li a{ padding: 0; color: #585858; }
#footer ul#footerRightNav li a:hover{ color: #111; text-decoration: none; }